<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"/>
<head>
    <title>Login &#x1F415; Lost My Pet</title>
</head>
<body class="login-page sidebar-collapse">

<div th:replace="fragments/header :: navigation"/>

<div class="page-header" filter-color="orange">
    <div class="page-header-image"
         style="background-image:url('../../img/bg/bg-login.jpg')"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">

                <!--Error alert section-->
                <div class="alert alert-primary" role="alert" th:if="${param.error}">
                    <div class="container">
                        Invalid email/password!
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
			<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
                        </button>
                    </div>
                </div>

                <div class="alert alert-info" role="alert" th:if="${param.logout}">
                    <div class="container">
                        You have been logged out.
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
			<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
                        </button>
                    </div>
                </div>
                <!--Error alert section END-->

                <form class="form" th:action="@{/account/login}" th:method="POST" th:formenctype="utf8">
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            <input type="email"
                                   name="username"
                                   class="form-control"
                                   oninvalid="this.setCustomValidity('Enter a valid email address.')"
                                   oninput="this.setCustomValidity('')"
                                   placeholder="Email..." required>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons objects_key-25"></i>
                                </span>
                            <input type="password"
                                   name="password"
                                   placeholder="Password..."
                                   class="form-control" required/>
                        </div>
                        <div class="footer text-center">
                            <input type="submit"
                                   value="Sign In"
                                   class="btn btn-primary btn-round btn-lg btn-block"/>
                        </div>


                        <div class="pull-left">
                            <h6>
                                <a th:href="@{/account/register}" class="link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a th:href="@{/account/reset}" class="link">Reset password</a>
                            </h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>

<div th:replace="fragments/footer :: scripts"/>

</html>