<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"/>
<head>
    <title>Reset Password &#x1F415; Lost My Pet</title>
</head>
<body class="login-page sidebar-collapse">

<div th:replace="fragments/header :: navigation"/>

<div class="page-header" filter-color="orange">
    <div class="page-header-image"
         style="background-image:url('../../img/bg/bg-login.jpg')"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">

                <!--Error alert section-->
                <div class="alert alert-primary"
                     role="alert" th:if="${errorMessage}">
                    <div class="container">Oops! I could not find a user with the email provided.
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
			<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
                        </button>
                    </div>
                </div>
                <!--Error alert section END-->

                <form class="form"
                      th:action="@{/account/reset}"
                      th:object="${passwordReset}"
                      th:method="POST" th:formenctype="utf8" autocomplete="off">
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            <input type="email"
                                   name="username"
                                   th:field="*{email}"
                                   class="form-control"
                                   placeholder="Email..." required>
                        </div>
                        <div class="footer text-center">
                            <input type="submit"
                                   value="Reset password"
                                   class="btn btn-primary btn-round btn-lg btn-block"/>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a th:href="@{/account/register}" class="link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a th:href="@{/account/login}" class="link">Login</a>
                            </h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>

<div th:replace="fragments/footer :: scripts"/>

</html>