<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Lost My Pet &#x1F415; Lost My Pet</title>
</head>
<body class="landing-page sidebar-collapse">

<div th:replace="fragments/header :: navigation"/>

<div class="wrapper">
    <div th:replace="fragments/header :: pageHeader"/>

    <div class="section">
        <div class="container">

            <div class="col-md-8 ml-auto mr-auto content-center">


                <div class="alert alert-default text-center" role="alert" th:if="${!message.isEmpty()}">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons ui-2_like"></i>
                        </div>
                        <strong>
                            <th:block th:text="${message}"></th:block>
                        </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="row justify-content-end">

                <form class="form-inline" th:action="@{/admin/announcements}" method="get">

                    <div class="col-xs-4" style="padding: 0 2em 1em 0;">
                        <label class="col-form-label">Type...</label>
                        <div class="form-inline">
                            <div class="radio">
                                <input type="radio" name="type" id="type-all" value="all"
                                       th:checked="(${filterType != 'cats' and filterType != 'dogs'} ? 'checked')">
                                <label for="type-all">
                                    All
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" name="type" id="type-cats" value="cats"
                                       th:checked="(${#strings.equalsIgnoreCase(filterType, 'cats')} ? 'checked')">
                                <label for="type-cats">
                                    Cats
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" name="type" id="type-dogs" value="dogs"
                                       th:checked="(${#strings.equalsIgnoreCase(filterType, 'dogs')} ? 'checked')">
                                <label for="type-dogs">
                                    Dogs
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4" style="padding: 0 2em 1em 0;">
                        <label class="col-form-label">Select...</label>
                        <div class="form-inline">
                            <div class="radio">
                                <input type="radio" name="enabled" id="enabled-all" value="2"
                                       th:checked="(${filterEnabled != '1' and filterEnabled != '0'} ? 'checked')">
                                <label for="enabled-all">
                                    All
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" name="enabled" id="enabled-yes" value="1"
                                       th:checked="(${filterEnabled == '1'} ? 'checked')">
                                <label for="enabled-yes">
                                    Only Enabled
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" name="enabled" id="enabled-no" value="0"
                                       th:checked="(${filterEnabled == '0'} ? 'checked')">
                                <label for="enabled-no">
                                    Only Disabled
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="input-group-sm">
                            <select class="form-control custom-select" name="location">
                                <option th:value="all"
                                        th:text="'All locations '"></option>
                                <option th:each="location : ${locationList}"
                                        th:value="${location.name}"
                                        th:text="${location.name}"
                                        th:selected="${#strings.equalsIgnoreCase(location.name, filterLocation)}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-4" style="padding: 0 0.5em 0 1em;">
                        <input type="submit"
                               value="Filter"
                               class="btn btn-primary btn-round btn-sm btn-block"/>
                    </div>

                    <div class="col-xs-4">
                        <a th:href="@{/admin/announcements}"
                           class="btn btn-default btn-round btn-sm btn-block"
                           role="button">Reset</a>
                    </div>

                </form>
            </div>

            <th:block th:if="${#lists.isEmpty(lostList) && #lists.isEmpty(foundList)}">
                <div class="col-md-8 ml-auto mr-auto content-center text-center">
                    <h2 class="title empty-page">This page is empty, same as my bowl!</h2>
                    <img class="img-fluid "
                         th:src="@{/img/empty-info.jpg}"/>
                </div>
            </th:block>

            <div class="row">

                <th:block th:if="${not #lists.isEmpty(lostList)}">

                    <div class="card">
                        <div class="card-body">
                                <span class="iwt">
                                    <i class="now-ui-icons ui-1_zoom-bold pr-3" style="font-size: 1.9em"></i>
                                    <span class="h3">Lost pet announcements</span>
                                </span>
                            <p class="card-text pt-2"></p>

                            <div class="row">
                                <div class="col-xs-12 col-xl-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Added Date</th>
                                                <th scope="col">Lost Date</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Breed</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Enabled</th>
                                                <th scope="col" style="width: 180px">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr scope="row" th:each="lost : ${lostList}">
                                                <td th:text="${lost.id}"></td>
                                                <td th:text="${#dates.format(lost.addedDate, 'dd MMMM yyyy')}"></td>
                                                <td th:text="${#dates.format(lost.lostDate, 'dd MMMM yyyy')}"></td>
                                                <td th:text="(${lost.pet instanceof T(graded.unit.lostmypetwebapp.model.pets.Dog)} ? 'A dog' : 'A cat')"></td>
                                                <td th:text="${lost.pet.name}"></td>
                                                <td th:text="${lost.pet.breed}"></td>
                                                <td th:text="${lost.location.name}"></td>

                                                <td>
                                                    <th:block th:if="${lost.enabled}">Yes</th:block>
                                                    <th:block th:if="${not lost.enabled}">
                                                        <a th:href="@{/admin/announcements/lost/enabled(id=${lost.id},type=${param.type},enabled=${param.enabled},location=${param.location})}"
                                                           class="badge badge-danger"> Click to enable </a>
                                                    </th:block>
                                                </td>

                                                <td>
                                                    <a th:href="'#lostModal' + ${lost.id}" class="badge badge-primary"
                                                       data-toggle="modal"
                                                       th:attr="data-target='#lostModal'+${lost.id}"> Details </a>
                                                    |
                                                    <a th:href="@{'/admin/announcements/lost/delete'(id=${lost.id},type=${param.type},enabled=${param.enabled},location=${param.location})}"
                                                       th:onclick="'return confirm(\'Are you sure you want to delete this announcement?\');'"
                                                       class="badge badge-default"> Delete </a>

                                                    <!-- Modal Core -->
                                                    <div class="modal fade" th:id="'lostModal' + ${lost.id}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header justify-content-center">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-hidden="true">
                                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                                    </button>
                                                                    <h4 class="title title-up"
                                                                        th:text="'Announcement ID: ' + ${lost.id}"></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Owner: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${lost.member.email}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Added date: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${#dates.format(lost.addedDate, 'dd MMMM yyyy')}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Found date: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${#dates.format(lost.lostDate, 'dd MMMM yyyy')}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Location: </strong>
                                                                        </div>
                                                                        <div class="col-md-7">
                                                                            <span th:text="${lost.location.name}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Name: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${lost.pet.name}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong th:text="(${lost.pet instanceof T(graded.unit.lostmypetwebapp.model.pets.Dog)} ? 'A dog: ' : 'A cat: ')"></strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${lost.pet.breed} + ' (' + ${lost.pet.gender} + ' Gender)'"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Age: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <th:block th:if="${lost.pet.age} != null">
                                                                                <th:block
                                                                                        th:if="${lost.pet.age} >= 2 or ${lost.pet.age} == 0">
                                                                                    <span th:text="${lost.pet.age} + ' years old'"></span>
                                                                                </th:block>
                                                                                <th:block th:if="${lost.pet.age} == 1">
                                                                                    <span th:text="${lost.pet.age} + ' year old'"></span>
                                                                                </th:block>
                                                                                <br>
                                                                            </th:block>
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Colour: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${!lost.pet.colours.isEmpty() ? #strings.replace(lost.pet.colours, '[', '').replace(']', '').replace(',', ' &bull;') : 'Not specified'}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Other: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <th:block
                                                                                    th:if="${lost.pet.chipped} == false">
                                                                                <span th:text="'No microchip'"></span>
                                                                            </th:block>
                                                                            <th:block
                                                                                    th:if="${lost.pet.chipped} == true">
                                                                                <span th:text="'Microchipped'"></span>
                                                                            </th:block>
                                                                            <span th:text="' &bull; '"></span>
                                                                            <th:block
                                                                                    th:if="${lost.pet.collar} == false">
                                                                                <span th:text="'No collar'"></span>
                                                                            </th:block>
                                                                            <th:block
                                                                                    th:if="${lost.pet.collar} == true">
                                                                                <span th:text="'Collar'"></span>
                                                                            </th:block>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Description: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${lost.pet.description.isEmpty() ? 'None' : lost.pet.description}"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-12">

                                                                            <img class="img-fluid rounded img-raised mt-1"
                                                                                 th:if="*{lost.pet.image != null}"
                                                                                 th:src="@{'data:image/image;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(lost.pet.image)}}"/>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-12 mb-2 text-center">
                                                                        <button type="button"
                                                                                class="btn btn-default btn-simple"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>

                <th:block th:if="${not #lists.isEmpty(foundList)}">

                    <div class="card">
                        <div class="card-body">
                                <span class="iwt">
                                    <i class="now-ui-icons location_compass-05 pr-3" style="font-size: 1.9em"></i>
                                    <span class="h3">Found pet announcements</span>
                                </span>
                            <p class="card-text pt-2"></p>

                            <div class="row">
                                <div class="col-xs-12 col-xl-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Added Date</th>
                                                <th scope="col">Found Date</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Breed</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Enabled</th>
                                                <th scope="col" style="width: 180px">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr scope="row" th:each="found : ${foundList}">
                                                <td th:text="${found.id}"></td>
                                                <td th:text="${#dates.format(found.addedDate, 'dd MMMM yyyy')}"></td>
                                                <td th:text="${#dates.format(found.foundDate, 'dd MMMM yyyy')}"></td>
                                                <td th:text="(${found.pet instanceof T(graded.unit.lostmypetwebapp.model.pets.Dog)} ? 'A dog' : 'A cat')"></td>
                                                <td th:text="${found.pet.breed}"></td>
                                                <td th:text="${found.location.name}"></td>

                                                <td>
                                                    <th:block th:if="${found.enabled}">Yes</th:block>
                                                    <th:block th:if="${not found.enabled}">
                                                        <a th:href="@{/admin/announcements/found/enabled(id=${found.id},type=${param.type},enabled=${param.enabled},location=${param.location})}"
                                                           class="badge badge-danger"> Click to enable </a>
                                                    </th:block>
                                                </td>

                                                <td>
                                                    <a th:href="'#foundModal' + ${found.id}" class="badge badge-primary"
                                                       data-toggle="modal"
                                                       th:attr="data-target='#foundModal'+${found.id}"> Details </a>
                                                    |
                                                    <a th:href="@{'/admin/announcements/found/delete'(id=${found.id},type=${param.type},enabled=${param.enabled},location=${param.location})}"
                                                       th:onclick="'return confirm(\'Are you sure you want to delete this announcement?\');'"
                                                       class="badge badge-default"> Delete </a>

                                                    <!-- Modal Core -->
                                                    <div class="modal fade" th:id="'foundModal' + ${found.id}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header justify-content-center">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-hidden="true">
                                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                                    </button>
                                                                    <h4 class="title title-up"
                                                                        th:text="'Announcement ID: ' + ${found.id}"></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Finder: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${found.member.email}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Added date: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${#dates.format(found.addedDate, 'dd MMMM yyyy')}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Found date: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${#dates.format(found.foundDate, 'dd MMMM yyyy')}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Location: </strong>
                                                                        </div>
                                                                        <div class="col-md-7">
                                                                            <span th:text="${found.location.name}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong th:text="(${found.pet instanceof T(graded.unit.lostmypetwebapp.model.pets.Dog)} ? 'A dog: ' : 'A cat: ')"></strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${found.pet.breed} + ' (' + ${found.pet.gender} + ' Gender)'"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Colour: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${!found.pet.colours.isEmpty() ? #strings.replace(found.pet.colours, '[', '').replace(']', '').replace(',', ' &bull;') : 'Not specified'}"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Other: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <th:block
                                                                                    th:if="${found.pet.chipped} == false">
                                                                                <span th:text="'No microchip'"></span>
                                                                            </th:block>
                                                                            <th:block
                                                                                    th:if="${found.pet.chipped} == true">
                                                                                <span th:text="'Microchipped'"></span>
                                                                            </th:block>
                                                                            <span th:text="' &bull; '"></span>
                                                                            <th:block
                                                                                    th:if="${found.pet.collar} == false">
                                                                                <span th:text="'No collar'"></span>
                                                                            </th:block>
                                                                            <th:block
                                                                                    th:if="${found.pet.collar} == true">
                                                                                <span th:text="'Collar'"></span>
                                                                            </th:block>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-3">
                                                                            <strong>Description: </strong>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span th:text="${found.pet.description.isEmpty() ? 'None' : found.pet.description}"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-12">

                                                                            <img class="img-fluid rounded img-raised mt-1"
                                                                                 th:if="*{found.pet.image != null}"
                                                                                 th:src="@{'data:image/image;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(found.pet.image)}}"/>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-12 mb-2 text-center">
                                                                        <button type="button"
                                                                                class="btn btn-default btn-simple"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>


            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>

</body>

<div th:replace="fragments/footer :: scripts"/>
</html>